{% extends 'school/homebase.html' %}

<head>

  <style media="screen">

  .jumbotron {
    background-color: #eaeaea;
  }

    </style>

</head>


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Admin</h1>
  <p class="lead">Welcome to Mikaelson Academy.</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <!-- <a class="btn btn-primary btn-lg" href="adminsignup" role="button">SignUp</a> -->
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
