{% extends 'school/studentbase.html' %}
{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Your Semester Details </h6>
      </div>
      <!-- <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Student Roll</th>
            <th>Semester</th>
          </tr>
        </thead>
        {%for attendancedata,studentdata in mylist %}
        <tr>
          <td>{{studentdata.get_name}}</td>
          <td>{{studentdata.roll}}</td>
          <td>3</td>
        </tr>
        {%endfor%}
      </table> -->
   
   
      <table style="width:100%" class="table table-hover" id="dev-table">
        <thead>
         <tr>
           <th>Semester ID</th>
           <th>Semester status</th>
           
         </tr>
       </thead>



       
       <tr>
         
         <td>1</td>
         <td>current</td>
       </tr>
      
       <tr>
         
        <td>2</td>
        <td>next</td>
      </tr>
     





     </table> 
     
   
    </div>
  </div>
</div>

{% endblock content %}
