{% extends 'school/studentbase.html' %}
{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .SB {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Your Subject of Class {{cl}}</h6>
      </div>
     


       <table style="width:100%" class="table table-hover" id="dev-table">
         <thead>
          <tr>
            <th>Student Name</th>
            <th>Student Roll</th>
            <th class="SB">Subjects</th>
          </tr>
        </thead>



        
        <tr>
          <td>neel patel</td>
          <td>1</td>
          <td>ENGLISH</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>HINDI</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>GUJARATI</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>SOCIAL STUDIES</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>SCIENCE AND TECHNOLOGY</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>DRAWING</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>P.T.</td>
        </tr>








      </table> 
      
    </div>
  </div>
</div>

{% endblock content %}
